# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*/pkg/darwin_amd64

# builds
src/auth/bin/auth
src/agent/bin/agent
src/game/bin/game
src/world/bin/world

# generators
src/goslib/src/gen

# deps
src/vendor

.DS_Store
*.log
.idea
.ruby-version
~$*.xlsx

