# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*/pkg/darwin_amd64

# builds
src/auth/bin/auth
src/agent/bin/agent
src/game/bin/game
src/world/bin/world
src/*/pkg

# generators
src/goslib/src/gen

# deps
src/vendor

# idea files
# .idea
# *.iml
.idea/workspace.xml

.DS_Store
*.log
.ruby-version
~$*.xlsx
dockers/images/*
/generator/json_files
/src/game/src/app/gen_register/register_routes.go
.svn
/bin
/src/world/bin
/src/game/bin
/src/goslib/gen
/.idea/workspace.xml
