# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*/pkg/darwin_amd64

# builds
auth/bin/auth
agent/bin/agent
game/bin/game
world/bin/world

# deps
/vendor

.DS_Store
*.log
.idea
